<h1>Welcome to the Fountain of Music Knowledge, where all Music Knowledge</h1>

<form action="/new" method="post">

  <label for="first_name">First name:</label>
  <input type="text" name="first_name"></input>

  <label for="last_name">Last name:</label>
  <input type="text" name="last_name"></input>

  <label for="topping">Select a Pizza:</label>

  <select name="topping">
    <option value="Margheritta">Margheritta</option>
    <option value="Pepperoni">Pepperoni</option>
  </select>

  <label for="quantity">Quantity</label>
  <input type="number" name="quantity"></input>

  <input type="submit" value="Order Pizza"></input>

</form>
